# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace
xcuserdata/
*.xcuserstate
*.xcscmblueprint

# SwiftPM
.build/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# User-specific
.DS_Store
*.swp
*.lock
*.env

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Firebase crashlytics
*.dSYM.zip
*.dSYM

# SPM checkouts (optional)
.checkouts/

# Xcode Cloud
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
